$zIndexMax: 9999;

.z-icon-sidebar {
  z-index: $zIndexMax;
}

.z-logo {
  z-index: $zIndexMax - 1;
}

.z-sidebar {
  z-index: $zIndexMax - 2;
}

.z-port-dropdown {
  z-index: $zIndexMax - 3;
}

.z-iframe-overlay {
  z-index: $zIndexMax - 4;
}

.z-prompt {
  z-index: 100;
}

.z-workbench {
  z-index: 1;
}

.z-file-tree-breadcrumb {
  z-index: $zIndexMax - 1;
}

.z-max {
  z-index: $zIndexMax;
}
